/*preview*/
.jd-picture{overflow: hidden; height:200px;}
.jd-picture i{float: right;cursor:pointer;}
.jd-picture i:hover{font-size: 110% !important;}
.preview{width: 200px;background-repeat: no-repeat;background-position:50% 50%;cursor:pointer;}
.switch{width:200px;height:200px;position:absolute;z-index:10;top:0;left:0;}
.spec-n5{position:relative;height:50px;min-width:400px;zoom:1}
.spec-list{height:50px;overflow:hidden;float: left;}
.spec-list ul{overflow:hidden;margin:0;height:50px}
.spec-list li{width:50px;height:50px;float: left;list-style-type:none;margin: 0 5px;}
.spec-list img{height:50px;padding:2px;border:1px solid #E8E8E8;cursor:pointer;}
.spec-list .curr img{padding:1px;border:2px solid #ffd300;}
.control{margin-top: 20px;cursor:pointer;width: 18px;}
.control:hover{font-size: 110% !important;}
.spec-left{float:left;}
.spec-right{float:right;}