.wordxi {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: normal;
	color: #006699;
	text-decoration: none;
}
.wordB {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	text-decoration: none;
}
wordB:link {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	text-decoration: none;
}
.wordBlink {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	text-decoration: none;
}
wordBhover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #006699;
}
.wordBhover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	text-decoration: none;
}
.wordxilink {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: normal;
	color: #006699;
	text-decoration: none;
}
.wordxinhover {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	font-weight: normal;
	color: #006699;
	text-decoration: none;
}
.wordinput {
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #006699;
	background-color: #FFFFFF;
	margin: 0px;
	height: 22px;
	width: 190px;
	border: 1px solid #507298;
	line-height: 20px;
}
.wordxilink:hover {
	color: #FF6600;
	text-decoration: none;
}
input {
	margin: 0px;
}
.login-form-inp {
	background-position:0 -511px;
	border:1px solid #B1B1B1;
	font-size:15px;
	height:1.2em;
	line-height:1.1em;
	width:120;

}
.login-form-verifyCode {
	background-position:0 -511px;
	border:1px solid #B1B1B1;
	font-size:15px;
	height:1.2em;
	line-height:1.1em;
	width:40;

}